.avatar{
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
  height: 48px;

  &__image{
    position: absolute;
    border-radius: 50%;
    border: 3px solid var(--color-bg-secondary);
    bottom: 0;
    &:nth-child(2){
      left: 26px;
    }
    &:nth-child(3){
      left: 52px;
    }
    &:nth-child(4){
      left: 78px;
    }


    &--quantity{
      @include square(40px);
      background-color: var(--color-accent);
      text-align: center;
      padding-top: 8px;

    }
  }
}