.button{
  @include  flex-center(true);

  font-size: 16px;
  padding-inline: 16px;
  height: var(--button-height);
  color: var(--color-text-primary);
  background-color: var(--color-accent);
  border-radius: var(--border-radius-btn);
  flex-shrink: 0;
  border: none;
  cursor: pointer;

  @include hover{
    background-color: var(--color-accent-hover);
  }

  @include tablet{
    font-size: 14px;
    padding-inline: 14px;
  }

  &--dark{
    background-color: var(--color-bg-secondary);

    @include hover{
      background-color: var(--color-bg-secondary-hover);
    }
  }
  &--light{
    background-color: var(--color-text-primary);
    color: var(--color-accent);

    @include hover{
      background-color: var(--color-text-primary);
      opacity: 0.9;
      color: var(--color-accent-hover);
    }
  }
  &--transparent{
    background-color: transparent;
    padding: 12px 16px;

    &-active{
      background-color: var(--color-bg-secondary);
    }
  }

  &__go-back{
    position: absolute;
    top: 80px;
    left: -70px;
  }
}