.footer{
  padding: 24px 32px;
  max-width: 1440px;
  margin-inline: auto;
  position: sticky;

  @include mobile{
    padding: 40px 24px;
  }
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mobile{
      flex-direction: column;
      row-gap: 32px;
      align-items: start;
    }
  }
  &__menu {
    margin-right: auto;
  }
}