.hero{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 80px;
  padding-inline: 216px;
  padding-bottom: 48px;
  position: relative;

  @include mobile{

    padding: 0;
    row-gap: 40px;
  }

  &::after{
    position: absolute;
    content: "";
    background: url("../images/arrow-down.svg") center/contain no-repeat;
    width: 32px;
    height: 100px;
    right: 49%;
    bottom: -130px;

    @include mobile{
      width: 20px;
      height: 50px;
      bottom: -65px;
    }
  }

  &__body{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;

    @include mobile{
      width: 100%;
    }
  }

  &__title{
    position: relative;

    @include tablet{
      width: 364px;
    }
    @include mobile{
      width: 268px;
    }
    &::after{
      position: absolute;
      content: "";
      display: inline-flex;
      background: url("../images/line-for-h1.svg") center/contain no-repeat;
      width: 277px;
      height: 24px;
      right: 40px;
      bottom: -17px;

      @include tablet{
        background: url("../images/line-for-h1-mobile.svg") center/contain no-repeat;
        width: 115px;
        right: 147px;
        bottom: -24px;
      }
      @include mobile{
        right: 80px;
      }
    }
  }

  &__actions{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 32px;

    @include mobile{
      flex-direction: column;
      row-gap: 16px;
      width: 100%;
    }
  }

  &__advantages{
    &-list{
      display: flex;
      justify-content: space-between;
      column-gap: 38px;
      width: 808px;

      @include mobile{
        flex-direction: column;
        row-gap: 32px;
      }
    }
    &-item{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-inline: 35px;
    }
    &-counter,
    &-description{
      font-family: "Space Mono", sans-serif;
    }
    &-counter{
      font-size: 20px;
      line-height: 1.6;
    }
    &-description{
      @include fluid-text(16, 18);

      color: var(--color-text-secondary);
      line-height: 1.3;
    }
  }

  &__button{
    width: 180px;

    @include mobile{
      width: 100%;
    }
    &--arrow{
      margin-right: 12px
    }
  }
}